<div class="password-checker-layout">
    <form>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" (input)="checkPassword()">
    </form>
      
    <div class="strength-meter">
        <div class="strength-block" [ngStyle]="{ 'background-color': blockColors[0] }"></div>
        <div class="strength-block" [ngStyle]="{ 'background-color': blockColors[1] }"></div>
        <div class="strength-block" [ngStyle]="{ 'background-color': blockColors[2] }"></div>
    </div>
</div>