.password-checker-layout {
    form {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        
        input {
            padding: 1rem;
            font-size: 3rem;
            border: 1px solid #ccc;
        }
    }
    
    .strength-meter {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        height: 0.5rem;

        .strength-block {
            height: 50px;
            width: 300px;
        }
    }
}